<header>
  <!--Navigation bar-->

  <!--/ Modal box-->
  <% if user_signed_in? %>

  <!-- USER -->

  <<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Freelancer<span> Xchange</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Browse"%></li>
        <% if current_user.user_type == "Freelancer" %>
        <li><%= link_to "Jobs Offered"%></li>

        <%else %>

        <li><%= link_to "Job Offers"%></li>

        <% end %>
        <li><a href="#organisations">About Us</a></li>
        <!-- USER -->
        <li><ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-user"></span>
                          <strong></strong>
                          <span class="glyphicon glyphicon-chevron-down"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <div class="navbar-login">
                                  <div class="row">
                                      <div class="col-lg-4">
                                          <p class="text-center">
                                              <span class="glyphicon glyphicon-user icon-size"></span>
                                          </p>
                                      </div>
                                      <div class="col-lg-8">
                                            <p class="text-left"><h4 class="user"><%= current_user.user_type  %></h4></p>
                                          <p class="text-left"><strong><%= current_user.username %></strong></p>
                                          <p class="text-left small"><%= current_user.email %></p>

                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="divider navbar-login-session-bg"></li>

                          <li><%= link_to edit_user_registration_path, :class => "dropdowntext" do %>Update Profile
                            <!-- <span class="badge pull-right">5</span> --><span class="glyphicon glyphicon-list-alt pull-right"></span>
                            <% end %>
                          </li>

              <li class="divider"></li>
              <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
              <li class="divider"></li>
              <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                      </ul>
                  </li>
              </ul>
            </li>


        <li class="btn-trial"><%= link_to 'Sign out', '/users/sign_out', :method => :delete %></li>

      </ul>
      </div>
    </div>
  </nav>







  <!-- END OF USER -->

  <% else %>


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Freelancer<span> Xchange</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Browse"%></li>
        <li><a href="#organisations">About Us</a></li>
        <li><%= link_to "Log In",new_user_session_path%></li>
        <li class="btn-trial"><%= link_to "Sign Up Now",new_user_registration_path%></a></li>
      </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

<% end %>

</header>
