<div class="container">
	<div class="row">
		<h2>Your Profile Preview</h2>
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= current_user.username %></h2>

                    <p><strong> <%= current_user.candidate.title %>  </strong></p>

                    <p><strong>Language: </strong>
                        <span class="tags"> <%= current_user.candidate.language %> </span>
                    </p>

                    <p><strong>Description: </strong>
                        <span> <%= current_user.candidate.description %> </span>
                    </p>

                    <p><strong>Rate ($/hr): </strong>
                        <span> <%= current_user.candidate.rate %> </span>
                    </p>

                </div>

                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>

                        <% if current_user.candidate.photo.present? %>

                            <td class="tab-pane active" id="pic-1">
                              <%= image_tag(current_user.candidate.photo_url, width: 150, height:125, class:'object-fit_cover', alt:'Picture') %>
                            </td>

                        <% else %>

                            <td class="tab-pane active" id="pic-1">
                              <img src="http://larics.rasip.fer.hr/wp-content/uploads/2016/04/default-placeholder.png" alt="" width="150" height="125" class="object-fit_cover"/>
                            </td>

                        <% end %>

                            <p>Rating:
                              <a href="#">
                                  <span class="fa fa-star"></span>
                              </a>
                              <a href="#">
                                  <span class="fa fa-star"></span>
                              </a>
                              <a href="#">
                                  <span class="fa fa-star"></span>
                              </a>
                              <a href="#">
                                  <span class="fa fa-star"></span>
                              </a>
                              <a href="#">
                                   <span class="fa fa-star-o"></span>
                              </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>



            <div class="col-xs-12 divider text-center">

							<% if @candidate.status == 0 %>
							<div class="col-xs-12 col-sm-4 emphasis">
									<h2><strong>   </strong></h2>
									<p><small>   </small></p>
									<%= link_to edit_candidate_path, class: "btn btn-info btn-block" do %>
									<i class="fa fa-user">&nbsp;</i> Edit Profile
									<% end %>
							</div>

							<% else %>

							<div class="col-xs-12 col-sm-4 emphasis" >
									<h2><strong>   </strong></h2>
									<p><small>   </small></p>
								<div data-toggle="tooltip" title="Please remove your posting before editing your profile">
									<%= link_to edit_candidate_path, class: "btn btn-info btn-block disabled" do %>
									<i class="fa fa-user">&nbsp;</i> Edit Profile
									<% end %>
								</div>
							</div>

							<% end %>


							<% if @candidate.status == 0 %>
								<!-- <%= @candidate.status %>
								<%= @candidate.id%> -->


								<%= form_tag postings_path, method: :post do %>
									<%= hidden_field_tag :candidate_id, current_user.candidate.id %></td>

	                <div class="col-xs-12 col-sm-5 emphasis">

                    <h2><strong>   </strong></h2>
                    <p><small>   </small></p>

												<%= button_tag(type: 'submit', title: 'Submit Posting', class: "btn btn-success btn-block") do %><i class="fa fa-plus-circle">&nbsp;</i> Post Your Profile
												<% end %>
                	</div>
								<% end %>


							<% else %>
                	<div class="col-xs-12 col-sm-5 emphasis">
                    <h2><strong>   </strong></h2>
                    <p><small>   </small></p>
                    <div class="btn-group dropup btn-block">
<!--

											<%= @candidate.status %>
											<%= @candidate.id %>



												<!-- <%= link_to '', posting_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'This will delete your property. Are you sure?' }%><i class="fa fa-plus-circle"></i> Remove Posting -->
												<%= form_tag posting_path, method: :delete do %>
												<%= hidden_field_tag :candidate_id, current_user.candidate.posting.id %></td>

												<%= button_tag(type: 'submit', title: 'Submit Posting', class: "btn btn-success btn-block") do %><i class="fa fa-remove">&nbsp;</i> Remove Posting
												<% end %>
												<% end %>

                    </div>

                </div>
							<% end %>
            </div>

    	 </div>
		</div>
	</div>
</div>
