<div class="container">
  <div class="row">

    <div class="heading heading-contact">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>My Job Offers</h2>
        </div>
      </div>
    </div>


          <!-- In our model, we have assumed one condidate can only have one posting, below condition is to deal with situation where the candidate have created one job profile but have not posted it. May need to refactor if we change model assumption one condidate can have many postings. -->
          <% if @current_candidate_individual_info.present? %>


          <% if @current_candidate_individual_info.status == 0 %>
          <div class="heading col-lg-12">
                  <h4>You have not posted your job, pls check your job profile.</h4>
          </div>
          <% elsif @current_candidate_individual_info.posting.recruits.exists? %>

          <div class="heading col-lg-12">
            <h4>Title: <%= @current_candidate_individual_info.title %> </h4>
            <h4>Rate ($/hr): <%= @current_candidate_individual_info.rate %> </h4>
            <h4>Date Listed: <%= @current_candidate_individual_info.updated_at.in_time_zone("Singapore") %> </h4>
          </div>

          <div class="col-md-12">
            <table class="table table-list-search">
              <thead>
                <tr>
                  <th>Date Offer Made</th>
                  <th>Company Name</th>
                  <th>Contact Name</th>
                  <th>Job Start Date</th>
                  <th>Job End Date</th>
                  <th>Job Scope</th>
                  <th>Message</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>

              <% @current_candidate_individual_info.posting.recruits.reverse_order.each do |offer_received| %>
                  <tr>
                      <td> <%= offer_received.updated_at %> </td>
                      <td> <%= offer_received.company.company_name %> </td>
                      <td> <%= offer_received.company.name %> </td>
                      <td> <%= offer_received.start_date.in_time_zone("Singapore") %> </td>
                      <td> <%= offer_received.end_date.in_time_zone("Singapore") %> </td>
                      <td> <%= offer_received.scope %> </td>
                      <td> Message here!!! </td>
                      <td> <%= @current_candidate_individual_info.posting.recruit_ids %>
              <% end %>


              <% @current_candidate_individual_info.posting.recruits.reverse_order.each do |offer| %>

                <% if offer.status == 0 %>

                      <td>


                        <%= offer.id %>

                        <%= form_tag candidate_accept_offer_path, method: :get do %>
                        <%= hidden_field_tag :id, offer.id %>

                        <%= button_tag(type: 'submit', class:"btn btn-success btn-md tip-right", title: 'Accept Offer') do %>
                        <span class="glyphicon glyphicon-send"></span>
                        <% end %>
                        <% end %>

                      </td>


                  <else>


                  <% end %>

                <% end %>


                  </tr>

          <% else !@current_candidate_individual_info.posting.recruits.exists? %>
            <div class="heading col-lg-12">
                  <h4>There are no offers at this moment.</h4>
                </div>
          <% end %>
        </tbody>

      </table>
    </div>
    <% else %>
    <div class="heading col-lg-12">
            <h4>Please create a job profile.</h4>
    </div>

    <% end %>
  </div>
</div>
